body {
    background-color: whitesmoke !important;
}

.flexx {
    display: flex;
}

.juss img {
    height: 40px;
    width: 100px;
    margin-left: 290px;
}

.navv {
    margin-top: 50px;
    margin-left: 110px;
}

.btn-lg {
    color: white;
    background-color: rgb(182, 140, 90);
    border-radius: 7px;
    border: 5px;
    width: 165px;
    height: 50px;
    margin-left: 100px;
}

.imgp {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    position: relative;
    color: white;

}

img {
    margin-top: 40px;
    height: 430px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.para {
    position: absolute;
    top: 80px;
    left: 540px;
    right: 500px;
    font-size: 50px;
}

.quote {
    position: absolute;
    top: 240px;
    left: 470px;
    right: 480px;
    font-size: 13px;
}

.sub-btn {
    position: absolute;
    color: white;
    background-color: rgb(182, 140, 90);
    font-size: 18px;
    width: 115px;
    height: 48px;
    border-radius: 7px;
    border: 2px;
    top: 298px;
    right: 490px;

}

input {
    position: absolute;
    height: 48px;
    width: 400px;
    background-color: white;
    border-radius: 7px;
    border: 2px;
    top: 298px;
    left: 495px;
    padding-left: 15px;
}

.serve,
.client,
.ques {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.799);
    margin-top: 100px;
}

.s_intro,
.c-intro,
.cques {
    text-align: center;
    margin-left: 460px;
    margin-right: 460px;
    font-size: 14px;
}

.card-img-top {
    height: auto;
    max-width: 10%;
}

.card-group {
    margin-left: 300px;
    margin-right: 300px;
}

.card-body {
    text-align: center;
}

.carousel-control-prev {

    margin-top: 50px;
    margin-left: 220px;
}

.carousel-control-next {
    margin-top: 50px;
    margin-right: 220px;
}

.carousel-inner img {
    height: 390px;
}

.c-rev {
    position: absolute;
    margin-left: 430px;
    margin-right: 430px;
    top: 300px;
    text-align: center;
    color: lightblue;
    font-size: 13px;
}

.cc-rev {
    position: absolute;
    margin-left: 700px;
    top: 220px;
    text-align: center;
    color: lightblue;
}

.qflex {
    display: flex;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.qimg img {
    height: 400px;
    width: 400px;
    margin-top: 0;
}

.accordion-item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 5px solid gray;
    background-color: #f0f0f0;
}

.ftr {
    background-color: black;
    margin-top: 50px;
}

.col {
    text-align: left;
    color: white;
    margin-top: 100px !important;
    margin-right: 40px;

}

.ftrimg img {
    height: 40px;
    width: 100px;
    margin-left: 0;
    margin-top: 0;

}

.row-cols-auto {
    justify-content: center;
}

@media (min-width: 769px) {

    .bg-red {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }
}

@media only screen and (max-width: 768px) {


    .navv {
        display: none;
    }

    .juss img {
        margin-left: 0;
    }

    .navbar-toggler {
        position: fixed;
        left: 300px;
        top: 50px;
        z-index: 9999;
    }

    .nav-item {
        position: relative;
        margin-left: 70px;
        top: 90px;
    }

    .btn-lg {
        margin-left: 60px;
        margin-top: 120px;
    }

    img {
        height: 220px;
        width: 360px;
        margin-left: 0;
    }

    .para {
        left: 50px;
        right: 50px;

        top: 20px;
        font-size: x-large;
    }

    .quote {
        left: 35px;
        right: 30px;
        top: 100px;
        font-size: xx-small;
    }

    .sub-btn {
        position: absolute;
        color: white;
        background-color: rgb(182, 140, 90);
        font-size: 18px;
        width: 80px;
        height: 25px;
        border-radius: 7px;
        border: 2px;
        top: 160px;
        right: 35px;

    }

    input {
        position: absolute;
        height: 25px;
        width: 190px;
        background-color: white;
        border-radius: 7px;
        border: 2px;
        top: 160px;
        left: 35px;
        padding-left: 15px;
    }

    .s_intro,
    .c-intro,
    .cques {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;

    }
    .card-group{
        margin: 0;
    }
    .col-4{
        width: 100% !important;
    }
   
    .card-img-top {
        margin-left: 140px;
        max-width: 20%;
    }

    .carousel-inner img {

        height: 220px;

    }

    .carousel-control-prev {

        margin-top: 50px;
        margin-left: 20px;
    }

    .carousel-control-next {
        margin-top: 50px;
        margin-right: 20px;
    }



    .qflex {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }

    .accordion-item {
        width: 100%;
    }

    .qimg img {
        width: 300px;
    }

    .ftrimg {
        margin-left: 60px;
    }

    .col {
        text-align: center;
        margin-top: 50px !important;
    }

}